.patternEditorGrid {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-container-2 {
    display: flex;  
    flex-direction: column;
    flex-wrap: nowrap;
}

.instInfo {
    min-width: 10em;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}

.instRow {
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    width: 10em;
    height: 2em;
    background-color: yellow;
    float: left;
}

.patternRow  {
    background-color: black;
}

.quant16 {
    width: 5em;
    height: 2em;
    /* background-color: grey; */
}

.quant16.playing {
    background-color: green;
}

.quant16.active {
    background-color: red;
}
.fourBeat {
    border-left: 1px solid #fff;
}

.eightBeat {
    border-left: 1px solid #888;
}

.sixteenBeat {
    border-left: 1px solid #444;
}
